<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>Soundscape</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Soundscape Document</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>${PRODUCT_BUNDLE_IDENTIFIER}.doc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSpokenName</key>
	<string>${BUNDLE_SPOKEN_NAME}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appname</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>AppName uses Bluetooth LE to connect to accessories.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>AppName uses Bluetooth LE to connect to accessories.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AppName uses your location to provide you with relevant information about your surroundings.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>AppName uses your location to provide you with relevant information about your surroundings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AppName uses your location to provide you with relevant information about your surroundings.</string>
	<key>NSMotionUsageDescription</key>
	<string>AppName uses motion detection to personalize automatic callouts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AppName uses the photo library for attaching photos to feedback.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).activity.my-location</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).activity.around-me</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).activity.ahead-of-me</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).activity.nearby-markers</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).activity.search</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).activity.save-marker</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).activity.street-preview</string>
	</array>
	<key>SOUNDSCAPE_AZURE_DF_NH_CONNECTION_STRING</key>
	<string></string>
	<key>SOUNDSCAPE_AZURE_DF_NH_PATH</key>
	<string></string>
	<key>SOUNDSCAPE_AZURE_NH_CONNECTION_STRING</key>
	<string></string>
	<key>SOUNDSCAPE_AZURE_NH_PATH</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch-Static</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch-Dynamic</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>bluetooth-le</string>
		<string>location-services</string>
		<string>gps</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Soundscape</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>${PRODUCT_BUNDLE_IDENTIFIER}.doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>soundscape</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
