<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ABE</key>
        <string>Abbaye</string>
        <key>ACH</key>
        <string>Ancien chemin</string>
        <key>AGL</key>
        <string>Agglomération</string>
        <key>AIRE</key>
        <string>Aires</string>
        <key>ALL</key>
        <string>Allées</string>
        <key>ANSE</key>
        <string>Anse</string>
        <key>ARC</key>
        <string>Arcades</string>
        <key>ART</key>
        <string>Anciennes routes</string>
        <key>AUT</key>
        <string>Autoroute</string>
        <key>AV</key>
        <string>Avenue</string>
        <key>All.</key>
        <string>Allée</string>
        <key>Av.</key>
        <string>Avenue</string>
        <key>BAST</key>
        <string>Baston</string>
        <key>BCH</key>
        <string>Bas chemin</string>
        <key>BCLE</key>
        <string>Boucle</string>
        <key>BD</key>
        <string>Boulevard</string>
        <key>BEGI</key>
        <string>Béguinages</string>
        <key>BER</key>
        <string>Berges</string>
        <key>BOIS</key>
        <string>Bois</string>
        <key>BRE</key>
        <string>Barrières</string>
        <key>BRG</key>
        <string>Bourg</string>
        <key>BSTD</key>
        <string>Bastide</string>
        <key>BUT</key>
        <string>Butte</string>
        <key>Bd</key>
        <string>Boulevard</string>
        <key>CALE</key>
        <string>Cale</string>
        <key>CAMP</key>
        <string>Camp</string>
        <key>CAR</key>
        <string>Carrefour</string>
        <key>CARE</key>
        <string>Carrières</string>
        <key>CARR</key>
        <string>Carré</string>
        <key>CAU</key>
        <string>Carreau</string>
        <key>CAV</key>
        <string>Cavée</string>
        <key>CGNE</key>
        <string>Campagne</string>
        <key>CHE</key>
        <string>Chemins</string>
        <key>CHEM</key>
        <string>Cheminements</string>
        <key>CHEZ</key>
        <string>Chez</string>
        <key>CHI</key>
        <string>Charmille</string>
        <key>CHL</key>
        <string>Chalet</string>
        <key>CHP</key>
        <string>Chapelle</string>
        <key>CHS</key>
        <string>Chaussées</string>
        <key>CHT</key>
        <string>Château</string>
        <key>CHV</key>
        <string>Chemins vicinaux</string>
        <key>CITE</key>
        <string>Cités</string>
        <key>CLOI</key>
        <string>Cloître</string>
        <key>CLOS</key>
        <string>Clos</string>
        <key>COL</key>
        <string>Col</string>
        <key>COLI</key>
        <string>Collines</string>
        <key>COR</key>
        <string>Corniches</string>
        <key>COTE</key>
        <string>Côteau</string>
        <key>COTT</key>
        <string>Cottages</string>
        <key>COUR</key>
        <string>Cour</string>
        <key>CPG</key>
        <string>Camping</string>
        <key>CRS</key>
        <string>Cours</string>
        <key>CST</key>
        <string>Castel</string>
        <key>CTR</key>
        <string>Contour</string>
        <key>CTRE</key>
        <string>Centre</string>
        <key>Ch.</key>
        <string>Chemin</string>
        <key>Che.</key>
        <string>Chemin</string>
        <key>Crs</key>
        <string>Cours</string>
        <key>DARS</key>
        <string>Darse</string>
        <key>DEG</key>
        <string>Degrés</string>
        <key>DIG</key>
        <string>Digues</string>
        <key>DOM</key>
        <string>Domaines</string>
        <key>DSG</key>
        <string>Descentes</string>
        <key>ECL</key>
        <string>Écluses</string>
        <key>EGL</key>
        <string>Église</string>
        <key>ENC</key>
        <string>Enclos</string>
        <key>ENV</key>
        <string>Enclave</string>
        <key>ESC</key>
        <string>Escaliers</string>
        <key>ESP</key>
        <string>Esplanades</string>
        <key>ESPA</key>
        <string>Espace</string>
        <key>ETANG</key>
        <string>Étang</string>
        <key>FG</key>
        <string>Faubourg</string>
        <key>FON</key>
        <string>Fontaine</string>
        <key>FORM</key>
        <string>Forum</string>
        <key>FORT</key>
        <string>Fort</string>
        <key>FOS</key>
        <string>Fosses</string>
        <key>FOYR</key>
        <string>Foyer</string>
        <key>FRM</key>
        <string>Fermes</string>
        <key>Fg</key>
        <string>Faubourg</string>
        <key>GAL</key>
        <string>Galeries</string>
        <key>GARE</key>
        <string>Gare</string>
        <key>GARN</key>
        <string>Garenne</string>
        <key>GBD</key>
        <string>Grand boulevard</string>
        <key>GDEN</key>
        <string>Grands ensembles</string>
        <key>GPE</key>
        <string>Groupes</string>
        <key>GPT</key>
        <string>Groupement</string>
        <key>GR</key>
        <string>Grandes rues</string>
        <key>GRI</key>
        <string>Grille</string>
        <key>GRIM</key>
        <string>Grimpette</string>
        <key>HAM</key>
        <string>Hameaux</string>
        <key>HCH</key>
        <string>Hauts chemins</string>
        <key>HIP</key>
        <string>Hippodrome</string>
        <key>HLE</key>
        <string>Halles</string>
        <key>HLM</key>
        <string>HLM</string>
        <key>ILE</key>
        <string>Île</string>
        <key>IMM</key>
        <string>Immeubles</string>
        <key>IMP</key>
        <string>Impasses</string>
        <key>Imp.</key>
        <string>Impasse</string>
        <key>JARD</key>
        <string>Jardins</string>
        <key>JTE</key>
        <string>Jetées</string>
        <key>LD</key>
        <string>Lieu-dit</string>
        <key>LEVE</key>
        <string>Levée</string>
        <key>LOT</key>
        <string>Lotissements</string>
        <key>MAIL</key>
        <string>Mail</string>
        <key>MAN</key>
        <string>Manoir</string>
        <key>MAR</key>
        <string>Marches</string>
        <key>MAS</key>
        <string>Mas</string>
        <key>MET</key>
        <string>Métro</string>
        <key>MF</key>
        <string>Maison forestière</string>
        <key>MLN</key>
        <string>Moulins</string>
        <key>MTE</key>
        <string>Montées</string>
        <key>MUS</key>
        <string>Musée</string>
        <key>Mgr</key>
        <string>Monseigneur</string>
        <key>Mt</key>
        <string>Mont</string>
        <key>MÉT</key>
        <string>Métro</string>
        <key>NTE</key>
        <string>Nouvelle route</string>
        <key>PAE</key>
        <string>Petite avenue</string>
        <key>PAL</key>
        <string>Palais</string>
        <key>PARC</key>
        <string>Parcs</string>
        <key>PAS</key>
        <string>Passage</string>
        <key>PASS</key>
        <string>Passes</string>
        <key>PAT</key>
        <string>Patio</string>
        <key>PAV</key>
        <string>Pavillons</string>
        <key>PCH</key>
        <string>Porche</string>
        <key>PERI</key>
        <string>Périphérique</string>
        <key>PIM</key>
        <string>Petite impasse</string>
        <key>PKG</key>
        <string>Parking</string>
        <key>PL</key>
        <string>Place</string>
        <key>PLAG</key>
        <string>Plages</string>
        <key>PLAN</key>
        <string>Plan</string>
        <key>PLCI</key>
        <string>Placis</string>
        <key>PLE</key>
        <string>Passerelles</string>
        <key>PLN</key>
        <string>Plaine</string>
        <key>PLT</key>
        <string>Plateaux</string>
        <key>PN</key>
        <string>Passage à niveau</string>
        <key>PNT</key>
        <string>Pointe</string>
        <key>PONT</key>
        <string>Ponts</string>
        <key>PORQ</key>
        <string>Portiques</string>
        <key>PORT</key>
        <string>Port</string>
        <key>POT</key>
        <string>Poterne</string>
        <key>PRE</key>
        <string>Pré</string>
        <key>PROM</key>
        <string>Promenade</string>
        <key>PRQ</key>
        <string>Presqu’île</string>
        <key>PRT</key>
        <string>Petite route</string>
        <key>PRV</key>
        <string>Parvis</string>
        <key>PRÉ</key>
        <string>Pré</string>
        <key>PSTY</key>
        <string>Péristyle</string>
        <key>PTA</key>
        <string>Petites allées</string>
        <key>PTE</key>
        <string>Porte</string>
        <key>PTR</key>
        <string>Petite rue</string>
        <key>Pas.</key>
        <string>Passage</string>
        <key>Pass.</key>
        <string>Passage</string>
        <key>Pl.</key>
        <string>Place</string>
        <key>Prom.</key>
        <string>Promenade</string>
        <key>QU</key>
        <string>Quai</string>
        <key>QUA</key>
        <string>Quartier</string>
        <key>Qu.</key>
        <string>Quai</string>
        <key>R</key>
        <string>Rues</string>
        <key>R.</key>
        <string>Rue</string>
        <key>RAC</key>
        <string>Raccourci</string>
        <key>RAID</key>
        <string>Raidillon</string>
        <key>REM</key>
        <string>Rempart</string>
        <key>RES</key>
        <string>Résidences</string>
        <key>RLE</key>
        <string>Ruelles</string>
        <key>ROC</key>
        <string>Rocade</string>
        <key>ROQT</key>
        <string>Roquet</string>
        <key>RPE</key>
        <string>Rampe</string>
        <key>RPT</key>
        <string>Rond point</string>
        <key>RTD</key>
        <string>Rotonde</string>
        <key>RTE</key>
        <string>Routes</string>
        <key>Rte</key>
        <string>Route</string>
        <key>SEN</key>
        <string>Sentiers</string>
        <key>SQ</key>
        <string>Square</string>
        <key>STA</key>
        <string>Station</string>
        <key>STDE</key>
        <string>Stade</string>
        <key>Sq.</key>
        <string>Square</string>
        <key>St</key>
        <string>Saint</string>
        <key>Ste</key>
        <string>Sainte</string>
        <key>TOUR</key>
        <string>Tour</string>
        <key>TPL</key>
        <string>Terre plein</string>
        <key>TRA</key>
        <string>Traverse</string>
        <key>TRN</key>
        <string>Terrain</string>
        <key>TRT</key>
        <string>Tertres</string>
        <key>TSSE</key>
        <string>Terrasses</string>
        <key>VAL</key>
        <string>Vallée</string>
        <key>VCHE</key>
        <string>Vieux chemin</string>
        <key>VEN</key>
        <string>Venelles</string>
        <key>VGE</key>
        <string>Villages</string>
        <key>VIA</key>
        <string>Via</string>
        <key>VLA</key>
        <string>Villas</string>
        <key>VOI</key>
        <string>Voies</string>
        <key>VTE</key>
        <string>Vieille route</string>
        <key>ZA</key>
        <string>Zone artisanale</string>
        <key>ZAC</key>
        <string>Zone d'aménagement concerté</string>
        <key>ZAD</key>
        <string>Zone d'aménagement différé</string>
        <key>ZI</key>
        <string>Zone industrielle</string>
        <key>ZONE</key>
        <string>Zone</string>
        <key>ZUP</key>
        <string>Zone à urbaniser en priorité</string>
        <key>ÉCL</key>
        <string>Écluses</string>
        <key>ÉGL</key>
        <string>Église</string>
        <key>ÉTANG</key>
        <string>Étang</string>
        <key>ÎLE</key>
        <string>Île</string>
    </dict>
</plist>
